{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" >
</head>
<body>
    <div id="main">
        <div id="top">
            <h1>DỰ BÁO DÒNG CHẢY ĐẾN HỒ THỦY ĐIỆN LAI CHÂU</h1>
        </div>
        <div id="header">
            <ul id="nav">
                <li><a href="">GIỚI THIỆU</a></li>
                <li>
                    <a href="">DỰ BÁO DÒNG CHẢY </a>
                </li>
            </ul>
        </div>
        <div class="f-grid">
            <div class="f-grid-col">
                <img class="back_ground" src="{% static 'images/back_ground.png'%} ">
            </div>
            <div class="f-grid-col">
                <div class="base_content">
                    <p>Thủy điện Lai Châu, còn gọi là Thủy điện Nậm Nhùn, là công trình trọng điểm quốc gia Việt Nam, xây dựng trên dòng chính sông Đà tại thị trấn Nậm Nhùn, huyện Nậm Nhùn, tỉnh Lai Châu, Việt Nam.</p>
                    <p>Thủy điện Lai Châu có 1.200 MW với 3 tổ máy, khởi công xây dựng ngày 5 tháng 1 năm 2011, hòa lưới 3 tổ máy tháng 11 năm 2016, khánh thành tháng 12 năm 2016, sớm hơn 1 năm so với chỉ tiêu Quốc hội đề ra</p>
                    <p>Công trình này được xây dựng ở bậc thang trên cùng của dòng chính sông Đà tại Việt Nam, bậc trên của thủy điện Sơn La. Công trình này có tổng mức đầu tư sơ bộ ước tính hơn 35.700 tỷ đồng. Nhà máy Thủy điện Lai Châu sẽ cung cấp mỗi năm lên lưới điện quốc gia khoảng 4.670,8 triệu kWh</p>
                    <p>Đây là công trình thủy điện không những có vai trò quan trọng trong việc phát triển điện, cấp nước cho đồng bằng sông Hồng về mùa khô mà còn tạo cơ hội phát triển - kinh tế xã hội hai tỉnh Lai Châu và Điện Biên, đảm bảo an ninh quốc phòng khu vực Tây Bắc. Thủy điện Lai Châu thuộc bậc trên cùng của dòng sông Đà tại Việt Nam, giáp với biên giới Trung Quốc. Với thiết kế chọn cao trình đập 303 mét sẽ đảm bảo mực nước cách biên giới khoảng 15 – 20 km, nhưng khi nước dềnh hoặc có lũ, lụt thì chỉ cách biên giới khoảng 2 km</p>
                 </div>
            </div>
   
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/showpopup.js'%}"></script>
    <script src="{% static 'js/chart.js'%}"></script>
</body>
</html>